@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ParmSave</title>
</head>
<body>
    <h1>PARMSAVE</h1>
    <p>
        x = @ViewBag.x<br />
        s = @ViewBag.s<br />
        d = @ViewBag.d<br />
    </p>
    @Html.ActionLink("Go to Index", "Index", "FIT")
</body>
</html>