
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    <h1>Hello INDEX</h1>
    <a href="/Fit/Search?s=Hello_From_Index">Search link</a>
    <a href="/Fit/GetParm">GetParam link</a>
</body>
</html>

